# Data Science Tools and Ecosystem

<br> In this notebook, Data Science Tools and Ecosystem are summarized.

1. R
2. Python
3. SQL

<br>Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Jupyter Notebook

|Data Science Tools|
|------------------|
|Apache Spark|
|RStudio|
|Keras|

### Below are a few examples of evaluating arithmetic expressions in Python

<br> This is a simple arithmetic expression to mutiply then add integers:

In [14]:
(3*4)+5

17

<br> This will convert 200 minutes to hours by diving by 60

In [90]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 200
hours = minutes_to_hours(minutes)

print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

__Objectives:__

. List popular languages for Data Science
. Create a markdown cell with a table of Data Science tools
. Create a markdown cell introducing arithmetic expression examples

## Author

<br> Sara Karimi